<form class="mt-6" name="container-form" method="POST" action="">
  <div>
    <h3 class="flex  text-lg font-medium text-gray-900">
      <i class="fa-solid fa-square-list"></i>Danh sách user đã xoá
    </h3>
    <a href="/dashboard/storeusers" class="text-sm font-medium text-indigo-600">
        <i class="fas fa-user mr-2 text-lg opacity-75"></i>
    </a>
  </div>
  <table class="table border divide-y divide-gray-200">
    <thead>
      <tr>
        <th class="text-left px-2 py-2 whitespace-nowrap text-sm font-medium text-gray-900">Stt</th>
        <th class="text-left px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-900">Name <a
            href="{{../sortUrl}}?field=name&order={{../sortOrder}}" class="text-indigo-600">{{{name}}}</a></th>
        <th class="text-left px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-900">Email <a
            href="{{../sortUrl}}?field=email&order={{../sortOrder}}" class="text-indigo-600">{{{email}}}</a></th>
        <th class="text-left px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-900">Date Deleted <a
            href="{{../sortUrl}}?field=createdAt&order={{../sortOrder}}" class="text-indigo-600">{{{createdAt}}}</a>
        </th>
        <th class="text-left px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-900">Date Update <a
            href="{{../sortUrl}}?field=createdAt&order={{../sortOrder}}" class="text-indigo-600">{{{updateAt}}}</a>
        </th>
      </tr>
    </thead>

    <tbody>
      {{#each users}}
      <tr>
        <td class="px-2 py-2 whitespace-nowrap text-sm font-medium text-gray-900">{{sum @index 1}}</td>
        <td class="px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-900">{{this.name}}</td>
        <td class="px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-900">{{this.email}}</td>
        <td class="px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-900">{{this.createdAt}}</td>
        <td class="px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-900">{{this.updateAt}}</td>
        <td>
          <a href="" class="text-indigo-600 hover:text-indigo-900 btn-restore" data-item-id=" {{this._id}} ">
            Khôi phục</i></a>
          <button id="getId" type="button" class="text-red-600 hover:text-red-900" data-item-id="{{this._id }}"
            onclick="showModal('{{this._id}}')">
            <i class="fas fa-trash-alt"></i>
          </button>

        </td>
      </tr>

      {{/each}}
    </tbody>
  </table>
</form>

{{!-- confirm delete --}}

<div id="delete-modal" class="relative z-10 hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
        <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div
              class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
              <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
              </svg>
            </div>
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
              <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Xác nhận hành động</h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500">Bạn có muốn xác nhận xoá không?</p>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
          <button type="button" onclick="deleteItem()"
            class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">Delete</button>
          <button onclick="closeModal()" type="button"
            class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<form id="delete-user-form" method="POST"></form>
<form id="restore-user-form" method="POST"></form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function showModal() {

    document.getElementById('delete-modal').classList.remove('hidden'); // single tag
  }

  function closeModal() {
    document.getElementById('delete-modal').classList.add('hidden');
  }
  //
  function deleteItem() {
    const itemId = document.getElementById('getId').getAttribute('data-item-id');
    const formEvent = document.getElementById("delete-user-form");
    formEvent.action = `/user/${itemId}/force?_method=DELETE`
    formEvent.submit();
    closeModal();
  }
  //
  const restoreBtn = $('.btn-restore');
  const restoreForm = document.getElementById("restore-user-form");
  restoreBtn.click(function (e) {
    e.preventDefault();
    let userId = $(this).data('item-id')
    restoreForm.action = `/user/${userId}/restore?_method=PATCH`;
    restoreForm.submit();

  })

  document.addEventListener('click', (event) => {
    if (event.target.closest('#delete-modal')) // true
      document.getElementById('delete-modal').classList.add('hidden')
  })

</script>